In [1]:
import pandas as pd
import math

C:\Users\alyon\AppData\Local\Temp\ipykernel_11684\1792291873.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_18 = pd.read_csv('Data/modis_2018_Greece.csv')
df_18.head

<bound method NDFrame.head of      latitude  longitude  brightness  scan  track    acq_date  acq_time  \
0     37.5064    22.4181       314.2   1.1    1.0  2018-01-01      1131
1     37.6455    22.6504       304.9   1.1    1.0  2018-01-01      1131
2     40.5884    22.6941       305.8   1.2    1.1  2018-01-03       940
3     39.7321    22.4546       300.1   1.2    1.1  2018-01-03       940
4     40.5412    22.6241       304.8   1.1    1.1  2018-01-03       940
..        ...        ...         ...   ...    ...         ...       ...
834   40.5551    22.6240       333.7   2.1    1.4  2018-12-29      1209
835   40.5423    22.6256       330.0   2.1    1.4  2018-12-29      1209
836   40.6671    22.7528       308.4   2.2    1.4  2018-12-29      1209
837   40.6141    22.7122       305.4   2.2    1.4  2018-12-29      1209
838   40.5423    22.6178       328.5   2.1    1.4  2018-12-29      1209

    satellite instrument  confidence  version  bright_t31   frp daynight  type
0        Aqua      MODIS          75     6.03       286.5  15.6        D     0
1        Aqua      MODIS          60     6.03       288.6   8.0        D     0
2       Terra      MODIS          43     6.03       283.6   9.3        D     0
3       Terra      MODIS          28     6.03       285.0   6.1        D     0
4       Terra      MODIS          60     6.03       284.0   9.6        D     0
..        ...        ...         ...      ...         ...   ...      ...   ...
834      Aqua      MODIS          54     6.03       285.9  94.8        D     0
835      Aqua      MODIS          43     6.03       285.2  81.0        D     0
836      Aqua      MODIS          67     6.03       284.8  30.3        D     0
837      Aqua      MODIS          14     6.03       284.0  20.2        D     0
838      Aqua      MODIS          78     6.03       285.0  79.8        D     0

[839 rows x 15 columns]>

In [3]:
df_19 = pd.read_csv('Data/modis_2019_Greece.csv')
df_19.shape

(1034, 15)

In [4]:
df_20 = pd.read_csv('Data/modis_2020_Greece.csv')
df_20.shape

(1153, 15)

In [8]:
df_21 = pd.read_csv('Data/modis_2021_Greece.csv')
df_21.shape

(2481, 15)

In [10]:
df_22 = pd.read_csv('Data/modis_2022_Greece.csv')
df_22.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,40.4597,21.2015,302.7,1.7,1.3,2022-01-03,952,Terra,MODIS,53,6.03,284.7,14.6,D,0
1,38.2790,23.4749,302.5,1.0,1.0,2022-01-03,1138,Aqua,MODIS,53,6.03,288.9,5.7,D,0
2,41.0305,23.3991,303.4,1.0,1.0,2022-01-03,1139,Aqua,MODIS,56,6.03,286.5,6.8,D,0
3,39.2542,20.5518,300.5,1.1,1.0,2022-01-03,1139,Aqua,MODIS,37,6.03,288.6,4.5,D,0
4,41.0996,23.3581,302.2,1.0,1.0,2022-01-03,1139,Aqua,MODIS,38,6.03,287.2,4.9,D,0

In [11]:
# Let's set your map key that was emailed to you. It should look something like 'abcdef1234567890abcdef1234567890'
MAP_KEY = '65ce9bff2b7bc40c2f3c9fe1a23d0320'
#MAP_KEY = 'abcdef1234567890abcdef1234567890'

# now let's check how many transactions there are
import pandas as pd
url = 'https://firms.modaps.eosdis.nasa.gov/mapserver/mapkey_status/?MAP_KEY=' + MAP_KEY
try:
  df = pd.read_json(url,  typ='series')
  display(df)
except:
  # possible error, wrong MAP_KEY value, check for extra quotes, missing letters
  print ("There is an issue with the query. \nTry in your browser: %s" % url)

transaction_limit             1000
current_transactions             0
transaction_interval    10 minutes
dtype: object

In [18]:
# We can also focus on smaller area ex. South Asia and get last 3 days of records
countries_url = 'https://firms.modaps.eosdis.nasa.gov/api/countries'
df_countries = pd.read_csv(countries_url, sep=';')
df_countries.head()

,id,abreviation,name,extent
0,1,ABW,Aruba,"BOX(-70.0624080069999 12.417669989,-69.8768204..."
1,2,AFG,Afghanistan,"BOX(60.4867777910001 29.3866053260001,74.89230..."
2,3,AGO,Angola,"BOX(11.6693941430001 -18.0314047239998,24.0617..."
3,4,AIA,Anguilla,"BOX(-63.4288223949999 18.1690941430001,-62.972..."
4,6,ALA,Aland Islands,"BOX(19.5131942070001 59.9044863950001,21.09669..."

In [19]:
print(df_countries[df_countries['name'] == 'Greece'])

    id abreviation    name                                             extent
84  83         GRC  Greece  BOX(19.6264754570001 34.8150088560001,28.23975...

In [36]:
greece_url = 'https://firms.modaps.eosdis.nasa.gov/api/country/csv/' + MAP_KEY + '/MODIS_SP/GRC/10/2020-08-20'
df_greece = pd.read_csv(greece_url)
df_greece.head()

,country_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,GRC,41.1108,24.1130,315.2,1.3,1.1,2020-08-20,939,Terra,MODIS,61,6.03,300.0,7.8,D,0
1,GRC,38.4532,23.5591,318.4,1.4,1.2,2020-08-20,940,Terra,MODIS,36,6.03,302.6,11.3,D,0
2,GRC,40.7247,22.7979,328.0,1.2,1.1,2020-08-20,940,Terra,MODIS,82,6.03,304.1,21.0,D,0
3,GRC,37.9082,22.0466,326.6,3.2,1.7,2020-08-21,845,Terra,MODIS,80,6.03,302.2,94.0,D,0
4,GRC,40.9008,21.4905,317.8,1.5,1.2,2020-08-21,1203,Aqua,MODIS,52,6.03,302.0,9.6,D,0

In [44]:
df_greece['instrument'].value_counts()

MODIS    48
Name: instrument, dtype: int64

In [52]:
#Calculation of a fire footprint 
for index, row in df_greece.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    sensor = row['instrument']
    
    coef = 0.375 # VIIRS
    if sensor == 'MODIS':
        coef = 1.0
    elif sensor == 'LANDSAT':
        coef = 0.03


    if abs(latitude) <= 89.99:
         dx = coef / ( math.cos(latitude) * 111.32 ) / 2.0 # if cos() using degrees
    else:
         dx = 180

    dy = ( coef / 111.32 ) / 2.0

    north_west = ( latitude + dy, longitude - dx )
    north_east = ( latitude + dy, longitude + dx )
    south_east = ( latitude - dy, longitude + dx )
    south_west = ( latitude - dy, longitude - dx )
    
    vertices = [north_west, north_east, south_east, south_west]
    
    def calculate_area(vertices):
        n = len(vertices)
        area = 0
        for i in range(n):
            j = (i + 1) % n
            area += vertices[i][0] * vertices[j][1]
            area -= vertices[j][0] * vertices[i][1]
        area = abs(area) / 2
        return area
    print(calculate_area(vertices))

8.373196408228978e-05
0.0001107102850710362
8.124232476802717e-05
8.24929443297151e-05
8.084223236437538e-05
0.0001531936331957695
0.00015143810776407918
0.00015100671134860022
0.00015060197881666681
0.00014931022349173872
0.00014891633213665045
0.0001485019961364742
0.00015599735968407913
0.0001546941552987846
0.00015411483752814092
0.000152897672819563
0.00015275020336957823
0.0001515584651770041
0.00015139002891828568
0.00015100671134860022
0.00014977685702888266
0.00014963649800847634
0.00014845613077341113
0.00015250517390086316
0.00015022342677184497
0.00014933347199530544
0.00014815883901064808
0.0001472755518534541
0.00014689451336380444
0.00014539404378410836
0.00014504640603263397
0.00014854789583296224
0.00015530420182585658
0.0001536650414664109
0.0001527993222225632
0.00015117412613108172
0.00015001149472482211
0.00014838739684819302
0.00014750081663805759
0.0001457656492220849
8.981804273844318e-05
8.991493666599126e-05
8.609470478404546e-05
8.07205128694477e-05
8.112789157621592e-05
8.120961854274356e-05
0.0004303987749381122
0.00043472685342749173